<h1>Listing sections</h1>

<%= link_to 'New section', new_section_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @sections.each do |section| %>
    <tr>
      <td><%= section.title %></td>
      <td><%= section.description %></td>
      <td><%= link_to 'Show', section_path(section) %></td>
      <td><%= link_to 'Edit', edit_section_path(section) %></td>
      <td>
        <%= link_to 'Destroy', section_path(section), method: :delete, data: {
          confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
