<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<h2>Add a news update:</h2>
<%= render 'news/form' %>

<h2>News</h2>
<%= render @section.news %>

<%= link_to 'Back', sections_path %>
| <%= link_to 'Edit', edit_section_path(@section) %>
